<html>
<body>
    <h3>HDB Resale Price Prediction</h3>
<div>
  <form action="/predict" method="POST">
    <label for="floor_area_sqm">Floor Area Sqm</label>
    <input type="text" id="floor_area_sqm" name="floor_area_sqm">
    <br>
    <label for="month">Year</label>
    <input type="text" id="month" name="month">
    <br>
    <label for="town_num">Town Number</label>
    <input type="text" id="town_num" name="town_num">
    <br>
    <label for="flat_type_num">Flat Type Number</label>
    <input type="text" id="flat_type_num" name="flat_type_num">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>